body,
html,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --sans: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  --primary-color: #9a97f3;
  --secondary-color: #818cab;
  --font-color: blue;
  --bg-color: #f0f0f0;
  --heading-color: #818cab;
  --font-size: 12px;
  --screen-small: 360px;
  --screen-medium: 700px;
  --screen-large: 1200px;
}

body {
  font-family: var(--sans);
  font-size: var(--font-size);
  color: var(--font-color);
  background-color: var(--bg-color);
}

[data-theme="dark"] {
  --primary-color: #1a0000;
  --secondary-color: #535353;
  --font-color: white;
  --bg-color: black;
  --heading-color: #01023f;
}
